@font-face {
	font-family: "Open Sans";
	src: url("../../assets/fonts/opensans/OpenSans-Regular.eot") format("eot"),
	     url("../../assets/fonts/opensans/OpenSans-Regular.ttf") format("truetype"),
	     url("../../assets/fonts/opensans/OpenSans-Regular.svg") format("svg");
}

@font-face {
	font-family: "Open Sans";
	font-weight: 900;
	src: url("../../assets/fonts/opensans/OpenSans-ExtraBold.eot") format("eot"),
	     url("../../assets/fonts/opensans/OpenSans-ExtraBold.ttf") format("truetype"),
	     url("../../assets/fonts/opensans/OpenSans-Extrabold.svg") format("svg");
}

@font-face {
	font-family: "Open Sans";
	font-weight: bold;
	src: url("../../assets/fonts/opensans/OpenSans-Bold.eot") format("eot"),
	     url("../../assets/fonts/opensans/OpenSans-Bold.ttf") format("truetype"),
	     url("../../assets/fonts/opensans/OpenSans-Bold.svg") format("svg");
}

@font-face {
	font-family: "Open Sans";
	font-weight: 300;
	src: url("../../assets/fonts/opensans/OpenSans-Semibold.eot") format("eot"),
	     url("../../assets/fonts/opensans/OpenSans-Semibold.ttf") format("truetype"),
	     url("../../assets/fonts/opensans/OpenSans-Semibold.svg") format("svg");
}

@font-face {
	font-family: "Open Sans";
	font-weight: 100;
	src: url("../../assets/fonts/opensans/OpenSans-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	src: url("../../assets/fonts/opensans/OpenSans-Italic.eot") format("eot"),
	     url("../../assets/fonts/opensans/OpenSans-Italic.ttf") format("truetype"),
	     url("../../assets/fonts/opensans/OpenSans-Italic.svg") format("svg");
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: bold;
	src: url("../../assets/fonts/opensans/OpenSans-BoldItalic.eot") format("eot"),
	     url("../../assets/fonts/opensans/OpenSans-BoldItalic.ttf") format("truetype"),
	     url("../../assets/fonts/opensans/OpenSans-BoldItalic.svg") format("svg");
}
