$primaryColor: #1D54C1;

$textColor: #3D4355;

$accommodationOtherTextColor: #028A51;

$backgroundColor: #ECEEF2;

$backgroundSelected: #E9EFF9;

$buttonLabelColor:  white;
$buttonBackgroundHoverColor:  #0B3994;

$boxBackgroundColor:  white;
$boxBorderColor:  #C0C6D1;

$disabledColor: #93B2EC;