$titleFontFamily: Open Sans;
$titleFontSize: 16pt;
$titleFontWeight: bold;

$title2FontFamily: Open Sans;
$title2FontSize: 12pt;
$title2FontWeight: bold;

$labelFontFamily: Open Sans;
$labelFontSize: 10pt;

$inputTextFontFamily: Open Sans;
$inputTextFontSize: 12pt;
$inputTextFontWeight: 300;

$infoFontFamily: Open Sans;
$infoFontSize: 12pt;
$infoFontWeight: 300;

$buttonTextFontFamily: Open Sans;
$buttonTextFontSize: 14pt;
